div#divide {
  padding:5px;
}

div#map-divide {
  padding:5px;
}

img#gesu {
  height:32px;
  width:32px;
  display:block;
  margin:0 auto;
}

div#about {
  padding:5px;
}

div#contact-div {
  padding:10px;
}

div#about-personal {
  padding:5px;
}

